# Binaries
*.exe
*.exe~

# Test are not included. Fuck your AI slop reimplementing opensource libraries.
*.test
*_test.go 

# Output of the go coverage tool
*.out
coverage.out

# Go workspace file
go.work

# Editor/OS files
.vscode/
.idea/
.DS_Store

# Logs
*.log
